* {
    box-sizing: border-box;
}

.top-bar {
    border: 16px solid #CBCDA9;
    margin-top: -8px;
    width: 100%;
    margin-left: -10px;
}

body {
    background: #FFFFE9;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menus-container {
    display: flex;
    list-style: none;
    align-items: center;
}

a:active {
    font-weight: bold;
}

.item {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    text-decoration: none;
    padding: 15px;
}

#title {
    color: #000;
    font-family: "Source Serif Pro";
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: space-around;
}

#subtitle {
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -70px;
}

h2 {
    color: #ffffff;
    font-family: "Source Serif Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    margin-left: 20px;
}

#contact_form {
    width: 433px;
    height: 563px;
    background: #201F1F;
    border: 1px solid #201F1F;
    gap: 20px;
    border-radius: 8px;
}

.form_details {
    color: #CCC6C6;
    font-family: "Lexend Deca";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.36px;
    padding: 25px;
}

::placeholder {
    color: #8D8D8D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Lexend Deca";
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 16.5px */
    letter-spacing: 0.055px;
}

input [type=text] {
    padding: 12px;
    width: 367.824px;
    height: 42.285px;
    border: 0.368px solid #8D8D8D;
    border-radius: 2.205px;
    background: #343333;
}

#Message {
    display: flex;
    width: 367.824px;
    height: 69.067px;
    padding: 7.351px 11.762px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 2.205px;
    border: 0.368px solid #8D8D8D;
    background: #343333;
}

button {
    border-radius: 1.725px;
    background: #F3F25B;
    display: inline-flex;
    padding: 9px 25px;
    justify-content: center;
    align-items: center;
    font-family: "Source Serif Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.42px;
    margin-left: 20px;
    margin-top: -30px;
}

img {
    width: 433px;
    height: 563px;
    border-radius: 8px;
}

.form_with_map {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 300px;
}

input {
    width: 367.824px;
    height: 42.285px;
    border-radius: 2.205px;
    border: 0.368px solid #8D8D8D;
    background: #343333;
}

input[placeholder] {
    color: #8D8D8D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Lexend Deca";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 18px */
    letter-spacing: 0.06px;
}